<!DOCTYPE html>
<html lang="en">

<head>
    <FONT face="arial">
    {% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block stylesheet %}
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" /> </head>
	<link rel="stylesheet" type="text/css" href="/static/js/scipt.js" /> </head>
    {% endblock stylesheet %}
    <title>Document</title>
<body>
    {% block nav %}
	<header>
		<ul>
			<li><a href="Accueil">Accueil</a></li>
			<li><a href="outil">Outil</a></li>
			<li><a href="#c">A propos</a></li>
			<li><a href="#d">Contact</a></li>
		</ul>
	</header>
    {% endblock nav %}
    <div class="home">
        <div class="box_home">
            <img src="/static/img/logo-bis.png" height="330px" width="370px">
            <button class="log">
                <a href="connexion">Log in</a>
            </button>
            <button class="log">
                <a href="inscription">Sign Up</a>
            </button>
        </div>
        <p>BonsAÏ est un outil permettant de reconnaitre une plante ainsi que de lister ses
           caracteristiques à l'aide d'une photo
        </p>
    </div>
    {% block javascript %}
	<script src="/static/js/script.js"></script>
    {% endblock javascript %}
    </FONT>
</body>
</html>