
<!DOCTYPE html>
<html lang="en">

<head>
    <FONT face="arial">
    {% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    {% block stylesheet %}
	<link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" /> </head>
	<link rel="stylesheet" type="text/css" href="/static/js/scipt.js" /> </head>
    {% endblock stylesheet %}

<body>
    {% block nav %}
	<header>
		<ul>
			<li><a href="index_log">Accueil</a></li>
			<li><a href="outil_log">Outil</a></li>
			<li><a href="#c">A propos</a></li>
			<li><a href="#d">Contact</a></li>
		</ul>
		<div class="profile">
            <a href="Profile">My Profile</a>
        </div>
	</header>
    {% endblock nav %}
    <div class="home">
        <div class="box_home">
            <img src="/static/img/logo-bis.png" height="330px" width="370px">
        </div>
        <p>Hello !
        </p>
    </div>

    <footer>
        <p>Company © BonzAÏ. All rights reserved.</p>
    </footer>
	{% block javascript %}
	<script src="/static/js/script.js"></script>
    {% endblock javascript %}
    </FONT>
</body>

</html>